 .contact-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0px;
 }

 .contacts{
    padding-top:120px;
 }
 .contact-title {
        text-align: center;
    }
.contact-text{
        text-align: center;
        font-family:var(--rob-family);
        font-size: 13px;
    }

.contact-form{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;

    }
    .contact-form input{
        width: 300px;
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        border: 2px solid var(--border-color);
        box-shadow: 1px 3px 2px 3px var(--box-shadow-color);
        border-radius: 5px;
        font-family:var(--rob-family);
    }
    .contact-form textarea{
        width: 300px;
        height: 100px;
        margin: 10px 0;
        padding: 10px;
        border: 2px solid var(--border-color);
        box-shadow: 1px 4px 2px 3px var(--box-shadow-color);
        border-radius: 5px;
        font-family:var(--rob-family);
    }
    .contact-form button{
        width: 300px;
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid rgba(204, 204, 204, 0.1);
        box-shadow: 0 2px 5px 3px rgba(29, 25, 25, 0.1);
        border-radius: 5px;
        font-family: var(--rob-family);
        cursor: pointer;
        background-color: var(--border-color);
        color: #fff;
    }

    .contact-form button:hover, .contact-form button:focus{
        background-color:var(--dark-brown);
        color: #fff;

    }
    .contact-form input:focus, .contact-form textarea:focus{
        outline: none;
    }
    .contact-form input::placeholder, .contact-form textarea::placeholder{
        font-family: var(--char-family);
    }
    .contact-form input[type="submit"]{
        background-color: var(--dark-brown);
        color: #fff;
        border: none;
    }
    .contact-form input[type="submit"]:focus{
        outline: none;
    }
    .contact-form input[type="submit"]{
        cursor: pointer;
    }
    .contact-form input[type="submit"]:hover{
        background-color: var(--border-color);
        color: #fff;
    }
    .contact-form input[type="submit"]{
        background-color: var(--border-color);
        color: #fff;
        border: none;
    }
    .contact-form label{
        font-size: 13px;
        font-family: var(--char-family);
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 50px;
        margin-top: 20px;
    }

.contact-info{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
    }
    .contact-info h3{
        font-size:15px;
        font-weight:600;
        margin-bottom: 10px;
        font-family: var(--rob-family);
    }

    .contact-info p{
        font-size: 16px;
        margin-bottom: 10px;
        font-family:var(--char-family);
        color: #836047;
        font-weight:600 ;

    }

        /* TABLETE */
         @media (min-width:768px) {
            .contact-container {
                padding: 10px 20px;
                max-width: 800px;
            }
            .contact-title {
            font-size:21px;
        }

        .contact-text{
            font-size: 18px;
        }
        .contact-form input{
            width: 600px;
        }
        .contact-form textarea {
            width: 700px;
        }
        .contact-form label{
            font-size:18px;
            margin-left: 50px;
        }
         }

       /* LAPTOP/TV SCREENS */
         @media(min-width:1200px) {
            .contact-container {
                padding: 30px 20px;
                max-width: 1200px;
            }

        .contact-title {
            font-size:24px;
        }

        .contact-text{
            font-size: 21px;
        }
        .contact-form input{
            width: 800px;
        }
        .contact-form textarea {
            width: 900px;
        }

        .contact-form label{
            font-size:21px;
            margin-left:150px;
        }

        .contact-info h3{
            font-size:21px;
        }

        .contact-info p{
            font-size: 21px;
        }
        .contact-info h2{
            font-size: 24px;
        }
    }