:root{
    --char-family:"Charmonman", sans-serif;
    --rob-family: "Roboto", sans-serif;
    --footer-color: #faeeda;

}

body {
    font-family: var(--rob-family);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* Containerul pentru logo */
.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icon-logo{
    width: 250px;
    height: auto;
}
 /* bara de navigare */
 .nav-list{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding: 10px 20px;
    }

.nav-list li{
    margin-left:15px;
    font-family: var(--rob-family);
    font-size:17px;
}
/* header container including nav and logo */

/* main-hero section */

.hero {
    width: 100%;
    position: relative;
    /* Menține poziția față de elementele vecine */
}

.hero-img {
    width: 100%;
    height: auto;
    /* Păstrează proporțiile */
    display: block;
    /* Elimină spațiile suplimentare cauzate de img */
}

/* Media queries pentru dimensiuni mai mici (de exemplu, pentru dispozitive mobile) */
@media (max-width: 768px) {
    .icon-logo {
        width: 120px;
        /* Micșorează dimensiunea logo-ului pe ecrane mici */
    }
}

@media (max-width: 480px) {
    .icon-logo {
        width: 100px;
        /* Dimensiune și mai mică pe telefoane foarte mici */
    }
}