:root{
    --char-family:"Charmonman", sans-serif;
    --rob-family: "Roboto", sans-serif;
    --footer-color: #eee3d3;
    --grey-color:#f9f9f9;
    --border-color:#d8a47f;
    --dark-brown:#836047;
    --box-shadow-color:rgb(250, 238, 218);
    

}

* {
    box-sizing: border-box;
}
body {
    font-family: var(--rob-family);
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration:none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h2 {
    font-family: var(--char-family);
    font-size: 21px;
    font-weight: 600;
}

/* tranzitii img */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.image-container img {
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.image-container img.visible {
    opacity: 1;
    transform: translateX(0);
}

img:not(.clickable){
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

/* tranzitii text */
.text-container {
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.text-container.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Page styling detailed */
.header-container {
    position: fixed;
    z-index: 1000;
    margin:0 auto;
    background-color: white;
    width: 100%;
    max-width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px 2px var(--box-shadow-color);
}


 /* Meniul pe mobil */
 .nav-list {
     display: flex;
     flex-direction: column;
     width: 100%;
     background-color: white;
     position: absolute;
     padding: 20px 20px;
     top:-12px;
     gap:20px;
     z-index: 1;
     left: 50%;
     height: 100vh;
     box-shadow: 0px 3px 5px 2px var(--box-shadow-color);
 }

 .home-page .nav-list{
    top:2px;
 }
 .nav-list li a {
    transition: color 0.3s ease;
    font-family: var(--char-family);
    text-decoration: none;
    font-weight: 600;
 }

 .nav-list li a:hover {
     color: var(--border-color);
 }

.logo-header {
    width: 150px;
    height: auto;
}
/* Logo-ul este centrat pe mobil */
 .logo-container {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }

.hamburger-menu {
    display: flex;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1001;
}

 .nav-container {
     display: none;
     /* Meniul normal dispare */
 }

 .nav-container.active {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     position: absolute;
     top: 100px;
     width: 50%;
     z-index: 1;
 }

svg.burger-icon {
    width: 50px;
    height:auto;
}

/* MAIN HERO SECTION */
.hero-container{
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.hero {
    background-image: url('../images/hero-mobile.avif');
    height: 500px;
    width:100%;
    background-repeat: no-repeat;
    -webkit-user-drag: none;
    user-select: none;
    background-size:cover;
    background-position: center;
}

.socials .follow{
    font-size: 21px;
    font-family: var(--char-family);
    font-weight: 600;
    color: #333;
    text-align: center;
    margin: 20px 0;
    padding-top: 10px;
}

.socials .hero-media{
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color:var(--grey-color);
        border-width: 3px;
        box-shadow: 2px 3px 5px 3px rgb(0 0 0 / 20%);
        border-radius: 30px;
        max-width: 300px;
        padding:0px 20px;
        height: 40px;
        margin-top:40px;
        transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.socials .hero-media:hover{
    background-color: var(--footer-color);
    transform: scale(1.1);
}

.socials .visit{
font-size: 21px;
    font-family: var(--char-family);
    font-weight: 600;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

.socials .hero-visit{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 350px;
    font-family: var(--char-family);
    font-size:18px;
    background-color: var(--grey-color);
    border-width: 3px;
    box-shadow: 2px 3px 5px 3px rgb(0 0 0 / 20%);
    border-radius: 30px;
    height: 40px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    padding:13px 20px;
    margin:40px 0px;
    padding-bottom:5px;
}

.socials .hero-visit:hover {
    background-color: var(--footer-color);
    transform: scale(1.1);
        }

.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
/* About */
.about-container {
    position: relative;
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    border-radius:40px;
    border-width: 3px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--footer-color);
}

.about-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    margin: 0;
    border-width:3px;
    border-radius:40px;
}

.about-content{
    text-align: center;
    padding:0px 50px;
    font-family: var(--rob-family);
    font-weight: 400;
    font-size:16px;

}

.about-end {
    font-family: var(--char-family);
    font-weight: 600;
    font-size: 18px;
}

/* footer section */
.social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.social-media {
    height: 30px;
    width: 30px;
}

.terms, .design{
    text-align: center;
    font-size: 14px;
    color: #333;
}

/* Testimonial section */

.testimonial-section {
    background: var(--grey-color);
    padding-top:30px;
    padding-bottom: 70px;
 }
 .container-xl{
    width: 100%;
        max-width: 400px;
        margin: 0 auto;
 }

 .testimonial-section h2 {
     color: #333;
     text-align: center;
     font-family: var(--char-family);
     font-weight: 600;
     position: relative;
     margin: 30px 0 60px;
 }

 .testimonial-section h2::after {
     content: "";
     width: 100px;
     position: absolute;
     margin: 0 auto;
     height: 3px;
     background: var(--border-color);
     left: 0;
     right: 0;
     bottom: -10px;
 }

 .col-center {
     margin: 0 auto;
     float: none !important;
 }

 .carousel {
     padding: 0 70px;
 }

 .carousel .carousel-item {
     color: #999;
     font-size: 14px;
     text-align: center;
     overflow: hidden;
     min-height: 290px;
 }

 .carousel .carousel-item .img-box {
     width: 155px;
     height: 155px;
     margin: 0 auto;
     padding: 5px;
     border: 1px solid #ddd;
     border-radius: 50%;
 }

 .carousel .img-box img {
     width: 100%;
     height: 100%;
     display: block;
     border-radius: 50%;
 }

 .carousel .testimonial {
     padding: 30px 0 10px;
 }

 .carousel-control-prev,
 .carousel-control-next,
 .carousel-control-last {
     width: 40px;
     height: 40px;
     margin-top: -20px;
     top: 50%;
     background: none;
 }

 .carousel-control-prev i,
 .carousel-control-next i,
 .carousel-control-last i {
     font-size: 68px;
     line-height: 42px;
     position: absolute;
     display: inline-block;
     color: rgba(0, 0, 0, 0.8);
     text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
 }

 .carousel-indicators {
     bottom: -40px;
 }

 .carousel-indicators li,
 .carousel-indicators li.active {
     width: 12px;
     height: 12px;
     margin: 1px 3px;
     border-radius: 50%;
     border: none;
 }

 .carousel-indicators li {
     background: #999;
     border-color: transparent;
     box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
 }

 .carousel-indicators li.active {
     background: #555;
     box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
 }

/* footer section */

footer{
    background-color: var(--footer-color);
    border-width: 3px;
    box-shadow: 0 2px 5px 3px rgba(29, 25, 25, 0.1);
    text-align: center;
}
.footer-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: var(--rob-family);
    font-size:14px;
}

.footer-container a{
transition: color 0.3s ease, transform 0.2s ease-in-out;
text-decoration:none;
}

.footer-container a:hover{
    color: var(--dark-brown);
    fill:var(--dark-brown);
    transform: scale(1.5);
}

/* Media queries pentru dimensiuni mai mici (de exemplu, pentru dispozitive mobile) */
@media (min-width: 768px) {
    .logo-header{
        width: 200px;
    }
        .nav-list{
        left:50%;
        padding: 20px 20px;
        gap: 30px;
     }
         .hero{
            background-image: url('../images/hero-tablet.avif');
         }
    .follow{
        font-size: 21px;
    }
    .hero-media{
        height: 50px;
    }

         .about-container{
            max-width: 600px;
            margin-top: 30px;
         }
         .about-image{
            max-width: 400px;
         }
        .about-content{
            max-width:550px;
                font-size:18px;
            }
        .about-title{
        padding: 0px 30px;
         }
    .testimonial-section{
        padding-bottom: 60px;
    }
    .container-xl{
        max-width: 800px;
    }

        .carousel .carousel-item .img-box {
            width: 250px;
            height: 250px;
        }

        .testimonial-section h2{
            font-size: 30px;
        }
         .footer-container{
             padding: 10px 10px;
             font-size:16px;
         }
        }      

@media (min-width:1200px)
{
    .logo-header {
        width: 250px;
        }

/* Containerul headerului */
.header-container { 
    box-shadow:none;
    justify-content: flex-end;
    margin:0 auto;
    position: static;
}
.nav-container{
    display: flex;
}

/* hamburger menu  */
.hamburger-menu {
    display:none;
}

    /* Naviga»õia */
.nav-list {
    flex-direction: row;
    background:none;
    box-shadow:none;
    top:0px;
    left:0%;
    height: auto;
    position: relative;
    z-index: 0;
    padding: 20px 20px;
    gap: 30px;
    font-size:18px;
}

.home-page .nav-list li{
    margin-top:inherit;
    padding-top:13px;
}

    .hero{
        height: 100vh;
        background-image: url('../images/hero-dektop.avif');
    }
    .footer-container{
        padding: 10px 10px;
        font-size:21px;
    }
    .hero-container{
        padding-top:0px;
    }
    .about-container{
        max-width: 1000px;
    }
    .about-image{
        max-width: 800px;
    }
    .about-content{
        max-width:900px;
        font-size:21px;
    }
    .h2{
        font-size:30px;
    }
    .socials{
        flex-direction:row;
        justify-content: center;
        align-items:first baseline;
        gap:50px;
        margin-bottom: 20px;
    }
    .container-xl {
     max-width: 1200px;
         }
    .carousel .carousel-item .img-box {
    width: 350px;
    height: 350px;
    }
    
}