.maternity-container{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 15px;
}

.maternity-title{
    text-align: center;
    padding-top: 120px;
}

.maternity-text{
    text-align: center;
}

.maternity-text ul{
    padding-left: 0;
}

.maternity-text svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill:#333;
}

.maternity-text{
    font-family: var(--char-family);
    font-size: 18px;
    font-weight: 600;
}
.maternity-text li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.maternity-image{
    width: 100%;
    max-width: 250px;
    padding-top:20px;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.maternity-content{
    background-color: #f7f1ea;
    width: 100%;
    max-width: 400px;   
    margin: 20px auto;
    padding: 10px 15px;
    box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.1);
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

@media (min-width: 768px){
    .maternity-container{
        padding: 10px 30px;
        max-width: 800px;
    }
        .maternity-text svg {
            width: 50px;
            height: 50px;
        }
        .maternity-content{
            max-width: 800px;
        }
        .maternity-image{
            max-width: 600px;
        }
}

@media (min-width: 1200px){
    .maternity-title{
        padding-top: 0px;
    }
    .maternity-container{
        padding: 30px 40px;
        max-width: 1200px;
    }
    .maternity-content{
        max-width: 1200px;
    }
    .maternity-image{
        max-width:900px;
    }
}