.maternity-container{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 15px;
}

.maternity-title{
    text-align: center;
    padding-top: 120px;
}

.maternity-text{
    text-align: center;
}

.maternity-text ul{
    padding-left: 0;
}

.maternity-text svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill:#333;
}

.maternity-text{
    font-family: var(--char-family);
    font-size: 16px;
    font-weight:500;
}
.maternity-text li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0px 15px;
}

.offer-title, .offer-price{
    font-size: 21px;
    margin:0;
    font-weight: 600;
}
.maternity-image{
    width: 100%;
    max-width: 350px;
    padding-top:20px;
    height: auto;
    object-fit: cover;
    margin: 0;
}
.maternity-content{
    background-color: #f7f1ea;
    width: 100%;
    max-width: 400px;   
    margin: 20px auto;
    box-shadow: 10px 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.25rem;
}

@media (min-width: 768px){
    .maternity-container{
        padding: 10px 0px;
        max-width: 700px;
    }
        .maternity-text svg {
            width: 30px;
            height: 30px;
        }
        .maternity-content{
            max-width: 800px;
        }
        .maternity-image{
            max-width: 600px;
        }
        .maternity-title{
            font-size: 24px;
        }
        .maternity-text{
            font-size:21px;
        }
        .offer-title,
        .offer-price{
            font-size:24px;
                }
}

@media (min-width: 1200px){
    .maternity-title{
        padding-top: 0px;
        font-size:30px;
    }
    .maternity-container{
        padding: 20px 0px;
        max-width: 1000px;
    }
    .maternity-content{
        max-width: 1200px;
    }
    .maternity-image{
        max-width:900px;
    }
        .maternity-text {
            font-size: 24px;
        }
        .offer-title,
        .offer-price {
            font-size: 30px;
        }
}