.privacy-section ul{
    list-style-type:circle;
}
.privacy-section h3{
    font-family: var(--char-family);
    font-weight: 600;
    font-size: 18px;
}

.privacy-section h2{
    font-size: 21px;
}

.privacy-section h1{
    font-size: 24px;
    font-family: var(--char-family);
    font-weight: 600;
    padding-top:120px;
}

.privacy-container{
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 10px 10px;
}

@media (min-width: 768px){
    .privacy-container{
        padding: 10px 20px;
        max-width: 800px;
    }
}

@media (min-width: 1200px){
    .privacy-container{
        padding: 20px 20px;
        max-width: 1200px;
    }
    .privacy-section h1{
        padding-top:0px;
    }
}