.privacy-section h3{
    font-family: var(--char-family);
    font-weight: 600;
    font-size: 18px;
}

.privacy-section h2{
    font-size: 18px;

}

.privacy-section h1{
    font-size: 24px;
    font-family: var(--char-family);
    font-weight: 600;
    padding-top:120px;
}

.privacy-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}